img {
    max-width: 450px;
    max-height: 500px;
    border: 2px solid #4b1f01ce;
    border-radius: 4%;
}

.nav {
    background-color: #544141;
    min-height: 55px;
}

.welcome {
    position: absolute;
    top: 2%;
    right: 135px;
    color:#ddd;
}

.open-button {  
    position: absolute;
    width: 100px;
    top: 1%;
    right: 20px; 
    
}

.form-login {
    display: block;
    position: absolute;
    padding: 20px 20px;
    top: 20%;
    right: 40%;
    border: 5px solid #4b1f01;
    border-radius: 20px;
    background-color: white;
    z-index: 9;   
}


.registration-button {
    position: absolute;
    top: 1%;
    right: 135px;     
    
}

.form-container {
    min-height: 250px;
    background-color: rgb(236, 234, 234);
}

.comment_container {
    border: solid;
    border-color:#4b1f0157;
    border-width: 1px;
    border-radius: 10px;
    
}
